<div class="widget widget-tie divComments">

      <h3>最新留言</h3>


      <ul>
            <li><span><img class="avatar avatar-55" alt="EM菌种"
                              src="../cdn.v2ex.com/gravatar/656ab4e6c6ead17abe909ae2cfa7d9e9.png-s=60&r=G" width="55"
                              height="55"></span><a rel="nofollow" href="1424.html#cmt1413"
                        title="发表在  老用户参与阿里云双11拼团大促的方法  上的评论"><span>EM菌种：</span>双十一活动看起来还挺划算的，为什么你这博客不更新了，这是去年双11？</a>
            </li>
            <li><span><img class="avatar avatar-55" alt="大事记"
                              src="../cdn.v2ex.com/gravatar/275d30ba218acb46a6666ce185dc88a5.png-s=60&r=G" width="55"
                              height="55"></span><a rel="nofollow" href="1424.html#cmt1411"
                        title="发表在  老用户参与阿里云双11拼团大促的方法  上的评论"><span>大事记：</span>今年估计又会来一波优惠，阿里的力度还是挺大的</a></li>
            <li><span><img class="avatar avatar-55" alt="胖蟹"
                              src="../cdn.v2ex.com/gravatar/742105bd7bacbec1180d52c6b9d4a7f1.png-s=60&r=G" width="55"
                              height="55"></span><a rel="nofollow" href="243.html#cmt1407"
                        title="发表在  WordPress发表文章时间显示XX天前  上的评论"><span>胖蟹：</span>你还研究这玩意！！！！？？？？</a></li>
            <li><span><img class="avatar avatar-55" alt="123"
                              src="../cdn.v2ex.com/gravatar/487f87505f619bf9ea08f26bb34f8118.png-s=60&r=G" width="55"
                              height="55"></span><a rel="nofollow" href="1414.html#cmt1406"
                        title="发表在  ZBlog导入数据库提示unknown character set 'utf8mb4'的原因及解决方案  上的评论"><span>123：</span>不错</a>
            </li>
            <li><span><img class="avatar avatar-55" alt="昕盟科技"
                              src="../cdn.v2ex.com/gravatar/d0d6999668fa16fd87f675a9c62c1e4d.png-s=60&r=G" width="55"
                              height="55"></span><a rel="nofollow" href="259.html#cmt1405"
                        title="发表在  zblogphp 采集插件tt_caiji发布  上的评论"><span>昕盟科技：</span>在哪下载？</a></li>
            <li><span><img class="avatar avatar-55" alt="充电桩检测"
                              src="../cdn.v2ex.com/gravatar/8edbfa095476dcd618fc6d676e2ec36e.png-s=60&r=G" width="55"
                              height="55"></span><a rel="nofollow" href="1424.html#cmt1404"
                        title="发表在  老用户参与阿里云双11拼团大促的方法  上的评论"><span>充电桩检测：</span>又到了一年双十一，剁手</a></li>
            <li><span><img class="avatar avatar-55" alt="励志说说"
                              src="../cdn.v2ex.com/gravatar/d9eaf6dce459c50cddf84caa75894bc6.png-s=60&r=G" width="55"
                              height="55"></span><a rel="nofollow" href="1424.html#cmt1402"
                        title="发表在  老用户参与阿里云双11拼团大促的方法  上的评论"><span>励志说说：</span>我也快到期了，续费的也可以吗？</a></li>
            <li><span><img class="avatar avatar-55" alt="用户"
                              src="../cdn.v2ex.com/gravatar/7b4e15d013846c21eef7646bf349e7ce.png-s=60&r=G" width="55"
                              height="55"></span><a rel="nofollow" href="1327.html#cmt1401"
                        title="发表在  ZBlog响应式模板-FY_ZMT自媒体主题  上的评论"><span>用户：</span>老板，能加字体不？，没字体写文章都心嘘嘘的</a></li>
            <li><span><img class="avatar avatar-55" alt="神木木"
                              src="../cdn.v2ex.com/gravatar/925dceec542b1df3b4134890bcebe54c.png-s=60&r=G" width="55"
                              height="55"></span><a rel="nofollow" href="1397.html#cmt1400"
                        title="发表在  ZBlog插件 - 支付宝支付购买  上的评论"><span>神木木：</span>支持1.5么？</a></li>
            <li><span><img class="avatar avatar-55" alt="薅羊毛网"
                              src="../cdn.v2ex.com/gravatar/21b673e5fb177d508a01ce10f696d1d7.png-s=60&r=G.jpg" width="55"
                              height="55"></span><a rel="nofollow" href="1326.html#cmt1380"
                        title="发表在  ZBlog备份、恢复与搬家（换空间）方法  上的评论"><span>薅羊毛网：</span>必须支持 要不然搞不定</a></li>
      </ul>


</div>
