<footer class="footer">
	<div class="link">
		<span>友情链接 : </span>
		<ul>
			<li><a target="_blank" href="#'">天兴工作室</a>
			</li>
			<li><a target="_blank" href="#'">橙色阳光</a>
			</li>
			<li><a target="_blank" href="#'">涂涂研版</a>
			</li>
			<li><a target="_blank" href="#'">拓源网</a>
			</li>
			<li><a target="_blank" href="#">途牛</a>
			</li>
		</ul>
	</div>
	<p>© 2017 <a href="index.htm">青旅博客</a>&nbsp;Powered By <a
			href="#" title="RainbowSoft Z-BlogPHP" target="_blank">Z-BlogPHP</a>&nbsp;Theme
		By <a href="index.htm" title="青旅工作室" target="_blank">FengYan</a>&nbsp;
	</p>
</footer>
<div id="gotop">
	<span id="gttop" onclick="return false;" title="返回顶部">
		<i class="fa fa-arrow-up"></i>
	</span>
</div>
</body>
</html>