<%- include('./public/header.html') %>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>分类功能</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/admin/">主页</a>
            </li>
            <li>
                <strong>包屑导航</strong>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="/admin/category/edit" class="btn btn-info">添加数据</a>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="ibox-content">

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>名称</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i = 0;i < result.length;i++){ %>
                <tr>
                    <td><%=i+1%></td>
                    <td><%=result[i].name%></td>
                    <td>
                        <a href="/admin/category/edit?_id=<%=result[i]._id%>" class="btn btn-warning">修改</a>
                        <a href="/admin/category/del?_id=<%=result[i]._id%>" class="btn btn-danger">删除</a>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>

    </div>
</div>

<%- include('./public/footer.html') %>